---

---
<html lang="eng">
    <head></head>

    <body>
        <div class="m-auto mt-48 h-48 w-48">
            <img src="/assets/404.png" />
            <p class="text-stone-400 text-xl">Ooops, you seem to be lost. Return <a class="text-teal-400" href="/">home</a></p>
        </div>
    </body>

    <style>
      body  {background-color : #171e38}
    </style>
</html>