---

---
<html lang="eng">
    <head></head>

    <body>
        <div class="m-auto grid justify-center place-content-center mt-96 lg:mt-48 lg:h-48 lg:w-48">
            <img class="" src="/assets/404.png" />
            <p class="text-stone-400 md:text-2xl lg:text-xl">Ooops, you seem to be lost. Return <a class="text-teal-400" href="/">home</a></p>
        </div>
    </body>

    <style>
      body  {background-color : #171e38}
    </style>
</html>