---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Landing from '../components/Landing.astro';
// import Footer from '../components/Footer.astro';
// import 'material-icons/iconfont/material-icons.css';
---

<!DOCTYPE html>
<html lang="en" class='scroll-smooth'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<!-- Deleted md:flex md:flex-col from body class -->
	<body class="md:max-w-7xl lg:max-w-4xl min-h-screen w-screen overflow-x-hidden md:mx-auto">
		<Header title={SITE_TITLE} />
		<Landing />
		<!-- <Footer /> -->
	</body>
</html>
