---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---
<html lang="eng">
    <head id="header">
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <!-- <script is:inline src="https://cjrtnc.leaningtech.com/2.3/loader.js"></script> -->
    </head>
        <body class="m-auto font-mono lg:max-w-4xl md:text-3xl lg:text-base">
            <Header />
        <div id="info-game" class="">
            <h1 class="text-teal-400 font-extra-bold ">Tank Wars</h1>
            <p class="text-stone-400 text-md">
                    This is a tank game that I coded as a final project for SFSU's Software Development class (CSC 413).
                    We were given the barebone structure of the game. I expanded upon it adding sound, more intelligent AI, 
                    explosions, health, etc. The project was coded in Java but in order to export the project into the 
                    web I used CheerpJ. CheerpJ converts Java code into JavaScript so it can run natively on browsers.
                    Currently CheerpJ is only for Java 8 applications.
                    <!-- <br /> -->
            </p>
            <div class="pb-12 md:pb-32 text-stone-400">
                THERE IS PERFOMANCE ISSUES WITH THE PROGRAM. RUNS VERY SLOW & CONSTANTLY CRASHES.
                YOU CAN <a class="text-rose-700 underline decoration-solid" href="/assets/TankGame.jar" download>DOWNLOAD</a>
                THE JAR FILE AND PLAY YOURSELF USING JAVA FOR OPTIMAL EXPERIENCE
            </div>
            <button id="startGame" class="material-icons-round mx-32 md:mx-80 lg:mx-96 lg:h-24 w-24 lg:text-4xl md:text-5xl text-teal-400 hover:bg-teal-400 hover:text-white rounded-full transition-colors duration-300">
                start
            </button>
        </div>
        <!-- <a id="reload" href="" onclick="">
            <img src="/assets/reload.png" class="p-2 m-2 h-8 w-8 rounded-full hover:bg-gray-50 hover:text-white transition-colors" />
        </a> -->
            

        <script>
            let btn = document.getElementById("startGame");
            // document.getElementById("reload").style.display = "none";
            btn.onclick = () => {       
                document.getElementById("info-game").style.display = "none";
                // document.getElementById("reload").style.display = "block";

                let scriptFile = document.createElement("script");
                scriptFile.setAttribute("src","https://cjrtnc.leaningtech.com/2.3/loader.js");
                scriptFile.setAttribute("type","text/javascript");
                scriptFile.setAttribute("async","true");
                document.getElementById("header").appendChild(scriptFile);
                // document.getElementById("header").style["margin"] = "100%";

                scriptFile.addEventListener("load", () => {
                    console.log("File loaded");
                    cheerpjInit();
                    cheerpjCreateDisplay(1024,768);
                    cheerpjRunJar("/app/assets/TankGame.jar");
                    document.documentElement.scrollTop = document.body.scrollTop = 1000;
                });
                // error event
                scriptFile.addEventListener("error", (ev) => {
                    console.log("Error on loading file", ev);
                });
            };
            // window.onclick = (e) => {
            // }
        </script>

        <!-- <script>
            cheerpjInit();
            cheerpjCreateDisplay(800,600);
            cheerpjRunJar("/app/assets/TankGame.jar"); 
        </script> -->
        </body>
</html>